/************************************************************************/
/****************** Start of left arrows section ************************/
/************************************************************************/
.left_arrows_container {

	width: 30vw;
	height: 30vw;
	margin: 0 auto;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #262626;
	border-radius: 50%;

	z-index: 3;
}

.left_arrows_inner_container {

	width: 75%;
	height: 75%;

	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	background-color: #262626;
	border-radius: 50%;

	-webkit-box-shadow: inset 0px 0px 35px 35px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 35px 35px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 35px 35px rgba(0,0,0,0.75);

	z-index: 4;
}

.arrow_controls_container {

	/*width: 55%;
	height: 55%;*/
	width: 75%;
	height: 75%;

	display: flex;
	flex-direction: column;
}

.top_arrow_container,
.bottom_arrow_container {

	width: 100%;
	height: 100%;

	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: transparent;

	z-index: 5;
}

.top_arrow,
.bottom_arrow {

	width: 34%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: lightgray;
}

.left_and_right_arrows_container {

	width: 100%;
	height: 100%;

	position: relative;
	display: flex;

	background-color: transparent;

	z-index: 5;
}

.left_arrow,
.middle_arrow_button,
.right_arrow {

	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: lightgray;
}

.middle_arrow_button div {

	width: 50%;
	height: 50%;

	border-radius: 50%;

	-webkit-box-shadow: inset 0px 0px 10px 5px rgba(128, 128, 128, 0.75);
	-moz-box-shadow: inset 0px 0px 10px 5px rgba(128, 128, 128, 0.75);
	box-shadow: inset 0px 0px 10px 5px rgba(128, 128, 128, 0.75);
}

.arrow_shape {

	width: 0;
	height: 0;
	border-style: solid;
	/*border-width: 75px 129.9px 75px 0;*/
	/*border-color: transparent #007bff transparent transparent;*/
	border-width: 1.5em 3em 1.5em 0;
	border-color: transparent #808080 transparent transparent; 
}

.top_arrow .arrow_shape {

	transform: rotate(90deg);
}

.right_arrow .arrow_shape {

	transform: rotate(180deg);
}

.bottom_arrow .arrow_shape {

	transform: rotate(270deg);
}
/************************************************************************/
/****************** End of left arrows section **************************/
/************************************************************************/



/************************************************************************/
/***********************      Media Queries      ************************/
/************************************************************************/


