.logo_container {

	/*width: 30%;*/
	/*width: 24%;*/
	min-width: 350px;

	/*height: 150px;*/
	padding: 0 2em;

	position: absolute;
	top: 25px;
	left: calc( (100%/2) - 15%);
	background: lightgray;

	display: flex;
	justify-content: space-between;
	align-items: center;

	-webkit-box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4), 0px -2px 2px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4), 0px -2px 2px rgba(0, 0, 0, 0.4);
	-ms-box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4), 0px -2px 2px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4), 0px -2px 2px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4), 0px -2px 2px rgba(0, 0, 0, 0.4);
}

.icon_container {

	width: 20%;
	height: 100px;
	position: relative;

	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}

.logo_container .icon {

	/*position: absolute;*/
	position: relative;
	/*top: 0;
	left: 90px;*/
}

.logo_container .icon .set {

	width: 28px;
	height: 28px;
	position: absolute;

	background: #363636;
	border-radius: 50%;
}

.logo_container .icon .set:before {

	content: '';

	width: 28px;
	height: 28px;

	display: block;
	position: relative;
	top: 14px;
	left: -14px;

	border-radius: 50%;
	background: lightgray;
}

.logo_container .icon .set:after {

	content: '';

	width: 30px;
	height: 17px;

	display: block;
	position: relative;
	top: -5px;
	left: -19px;

	border-radius: 50%;
	background: #363636;
}

.logo_container .icon .set.top {

	left: -69px;
	top: 23px;
}

.logo_container .icon .set.bottom {

	left: -42px;
	top: 37px;
}
/*****************************************/

.logo_container .text {
	
	text-align: center;
	font-family: 'Six Caps', sans-serif;
}

.logo_container .text .main {

	display: block;

	font-size: 58px;
	font-weight: bold;
	letter-spacing: .02em;
	color: #363636;
	
	-webkit-transform: skewX(-10deg) scaleX(1.36);
	-moz-transform: skewX(-10deg) scaleX(1.36);
	-ms-transform: skewX(-10deg) scaleX(1.36);
	-o-transform: skewX(-10deg) scaleX(1.36);
	transform: skewX(-10deg) scaleX(1.36);
}

.logo_container .text .sub {
	
	display: block;
	position: relative;

	line-height: 0.1;
	letter-spacing: 6.2px;
	font-weight: bold;
	color: lightgray;

	-webkit-transform: skewX(-10deg) scaleX(1.36);
	-moz-transform: skewX(-10deg) scaleX(1.36);
	-ms-transform: skewX(-10deg) scaleX(1.36);
	-o-transform: skewX(-10deg) scaleX(1.36);
	transform: skewX(-10deg) scaleX(1.36);

	z-index: 2;
}

.logo_container .text .sub-bg {

	width: 268px;
	height: 19px;

	display: block;
	position: relative;
	top: -9px;
	left: -4px;

	background: #363636;

	z-index: 1;
}