.right_controls_container {

	/*width: 30vw;
	height: 30vw;*/
	width: 35vw;
	height: 35vw;

	background-color: lightgray;
	margin: 0 auto;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.right_controls_inner_container {

	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border-radius: 50%;
	background-color: gray;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);

	-webkit-box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4), 0px -2px 2px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4), 0px -2px 2px rgba(0, 0, 0, 0.4);
	-ms-box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4), 0px -2px 2px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4), 0px -2px 2px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4), 0px -2px 2px rgba(0, 0, 0, 0.4);
}

.first_row_container {

	width: 95%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 4em;
}

.second_row_container {

	width: 95%;
	display: flex;
	justify-content: space-around;
}

.buttons_container {

	width: 40%;
	height: 6vw;

	position: relative;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: lightgray;

	z-index: 1;
}

.buttons_container:before {

	content: "";
	width: 6vw;
	height: 100%;

	position: absolute;
	top: 0;
	left: -2.5vw;

	border-radius: 50%;

	background: lightgray;

	z-index: 0;
}

.buttons_container:after {

	content: "";
	width: 6vw;
	height: 100%;

	position: absolute;
	top: 0;
	right: -2.5vw;

	border-radius: 50%;

	background: lightgray;

	z-index: 0;
}

.button_letters {

	display: flex;
	justify-content: center;
	align-items: center;

	color: lightgray;
	font: bold normal 32px/1 arial;

	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);

	z-index: 2;
}

.snes_button {

	width: 5.5vw;
	height: 5.5vw;
	border-radius: 50%;
	position: absolute;

	-webkit-box-shadow: -5px 5px 3px -3px rgba(255, 255, 255, 0.3) inset, 5px -5px 3px -3px rgba(0, 0, 0, 0.3) inset, 0 0 1px 1px rgba(0, 0, 0, 0.3), -5px 5px 2px -1px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: -5px 5px 3px -3px rgba(255, 255, 255, 0.3) inset, 5px -5px 3px -3px rgba(0, 0, 0, 0.3) inset, 0 0 1px 1px rgba(0, 0, 0, 0.3), -5px 5px 2px -1px rgba(0, 0, 0, 0.7);
	-ms-box-shadow: -5px 5px 3px -3px rgba(255, 255, 255, 0.3) inset, 5px -5px 3px -3px rgba(0, 0, 0, 0.3) inset, 0 0 1px 1px rgba(0, 0, 0, 0.3), -5px 5px 2px -1px rgba(0, 0, 0, 0.7);
	-o-box-shadow: -5px 5px 3px -3px rgba(255, 255, 255, 0.3) inset, 5px -5px 3px -3px rgba(0, 0, 0, 0.3) inset, 0 0 1px 1px rgba(0, 0, 0, 0.3), -5px 5px 2px -1px rgba(0, 0, 0, 0.7);
	box-shadow: -5px 5px 3px -3px rgba(255, 255, 255, 0.3) inset, 5px -5px 3px -3px rgba(0, 0, 0, 0.3) inset, 0 0 1px 1px rgba(0, 0, 0, 0.3), -5px 5px 2px -1px rgba(0, 0, 0, 0.7);

	z-index: 2;
}

.green_button {

	left: -2.2vw;
	background-color: #006f31;
}

.blue_button {

	right: -2.2vw;
	background-color: #021970;
}

.yellow_button {

	left: -2.2vw;
	background-color: #efb923;
}

.red_button {

	right: -2.2vw;
	background-color: #c92112;
}

.snes_button.clickable.active {

	-webkit-box-shadow: -5px 5px 3px -3px rgba(255, 255, 255, 0.3) inset, 5px -5px 3px -3px rgba(0, 0, 0, 0.3) inset, 0 0 1px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: -5px 5px 3px -3px rgba(255, 255, 255, 0.3) inset, 5px -5px 3px -3px rgba(0, 0, 0, 0.3) inset, 0 0 1px 1px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: -5px 5px 3px -3px rgba(255, 255, 255, 0.3) inset, 5px -5px 3px -3px rgba(0, 0, 0, 0.3) inset, 0 0 1px 1px rgba(0, 0, 0, 0.3);
	-o-box-shadow: -5px 5px 3px -3px rgba(255, 255, 255, 0.3) inset, 5px -5px 3px -3px rgba(0, 0, 0, 0.3) inset, 0 0 1px 1px rgba(0, 0, 0, 0.3);
	box-shadow: -5px 5px 3px -3px rgba(255, 255, 255, 0.3) inset, 5px -5px 3px -3px rgba(0, 0, 0, 0.3) inset, 0 0 1px 1px rgba(0, 0, 0, 0.3);
}