/***************************************************************/
/***************** Start of Generic Styles *********************/
/***************************************************************/
@font-face {
	font-family: "Carter One";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/Carter_One/CarterOne.woff2") format("woff2"),
		 url("/fonts/Carter_One/CarterOne.ttf") format("truetype");
}

@font-face {
	font-family: 'Kurale';
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/Kurale/Kurale-Regular.woff2") format("woff2"),
		 url("/fonts/Kurale/Kurale-Regular.ttf") format("truetype");
}

.mRemote_span {
	font-family: 'Carter One', sans-serif;
}
/***************************************************************/
/***************** End of Generic Styles ***********************/
/***************************************************************/

.loading_image_container {

	width: 100vw;
	height: calc(100vh - 6.9em);

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: white;
}

.content_container {

	width: 100vw;
	/*height: calc(100vh - 6.9em);*/
	height: calc(100vh - 4em);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*background-color: lightgray;*/
}

.footer {

	width: 100vw;
	height: 2.5em;

	position: absolute;
	bottom: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	color: white;
	font-weight: bold;
	font-family: "Arial";
	background-color: lightgray;
}
