/***************************************************************/
/***************** Start of Header Section *********************/
/***************************************************************/
.header_container {

	width: 100vw;
	height: 4em;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #1ac6ff;
}

.header_title {

	margin: 0;
	margin-left: auto;
	color: white;
	text-align: center;
	font-family: 'Kurale', sans-serif;
}

.menu_trigger_button_container {

	width: 50px;
	height: 50px;

	display: flex;
	justify-content: center;
	align-items: center;

	margin-left: auto;
	/*margin-right: 15px;*/
	margin-right: 1em;

	cursor: pointer;
}

.menu_trigger_button_container:hover .top_left,
.menu_trigger_button_container:hover .top_right,
.menu_trigger_button_container:hover .mid_left,
.menu_trigger_button_container:hover .mid_right,
.menu_trigger_button_container:hover .bottom_left,
.menu_trigger_button_container:hover .bottom_right {

	background-color: #EEEEEE;
}

.menu_trigger_button {

	width: 50px;
	height: 35px;
	position: relative;
}

.menu_item {

	position: absolute;
	background-color: white;
	width: 18px;
	height: 5px;
}

.top_left {

	left: 10px;
	top: 5px;

	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.top_right {

	left: 28px;
	top: 5px;

	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.mid_left {

	left: 10px;
	top: 15px;

	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.mid_right {

	left: 28px;
	top: 15px;

	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.bottom_left {

	left: 10px;
	top: 25px;

	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.bottom_right {

	left: 28px;
	top: 25px;

	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.menu_container {

	position: absolute;
	right: 1em;
	top: 3.5em;

	/*display: flex;*/
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: lightgray;
}

.menu_option {

	/*margin: 0.5em 0;*/
	padding: 0.5em 2em;

	font-weight: bold;
	/*border-bottom: 1px solid black;*/

	cursor: pointer;
}

.menu_option:hover {

	background-color: white;
}
/***************************************************************/
/***************** End of Header Section ***********************/
/***************************************************************/
