/* First Tryout without using left and right side.
.controller_skeleton { 

	width: 90%;
	height: 80%;
	position: relative;

	background-color: black;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}

.controller_skeleton:after { 

	content: "";
	width: 70%;
	height: 58%;

	position: absolute;
	bottom: 0;
	left: 15%;

	background-color: pink;
}*/

/*****************************************/
/***** Start of fundamental elements *****/
/*****************************************/
.controller_skeleton {

	width: 90%;
	height: 80%;
	position: relative;

	display: flex;
	margin-top: 2.5%;

	z-index: 1;
}

.left_controller_skeleton_side {

	width: 100%;
	height: 100%;
	position: relative;

	/*background-color: pink;*/
	background-color: #262626;

	border-top-left-radius: 65%;

	z-index: 2;
}

.left_controller_skeleton_side:after {

	content: "";
	width: 65%;
	height: 50%;

	position: absolute;
	right: 0;
	bottom: 0;

	background-color: lightgray;

	border-top-left-radius: 70%;
}

.left_controller_skeleton_side:before {

	content: "";
	width: 35%;
	height: 35%;

	position: absolute;
	left: 0;
	bottom: -18%;

	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;

	background-color: #262626;
}

.right_controller_skeleton_side {

	width: 100%;
	height: 100%;
	position: relative;

	/*background-color: orange;*/
	background-color: #262626;

	border-top-right-radius: 70%;

	z-index: 2;
}

.right_controller_skeleton_side:after {

	content: "";
	width: 65%;
	height: 50%;

	position: absolute;
	left: 0;
	bottom: 0;

	background-color: lightgray;

	border-top-right-radius: 70%;
}

.right_controller_skeleton_side:before {

	content: "";
	width: 35%;
	height: 35%;

	position: absolute;
	right: 0;
	bottom: -18%;

	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;

	background-color: #262626;
}
/*****************************************/
/***** End of fundamental elements *******/
/*****************************************/

/*****************************************/
/***** Start of left joystick section ****/
/*****************************************/
/* Add Media Queries for the width and height of this component. */
.left_joystick_container {

	width: 30em;
	height: 30em;

	background-color: #262626;
	border-radius: 50%;

	position: absolute;
	left: 10%;
	top: 10%;

	display: flex;
	justify-content: center;
	align-items: center;

	-webkit-box-shadow: 10px 2px 20px 5px rgba(100, 100, 100, 0.5);
	-moz-box-shadow: 10px 2px 20px 5px rgba(100, 100, 100, 0.5);
	box-shadow: 10px 2px 20px 5px rgba(100, 100, 100, 0.5);

	z-index: 3;
}

.left_joystick_inner_container {

	width: 75%;
	height: 75%;

	border-radius: 50%;
	border: 2px solid rgba(100, 100, 100, 0.5);
	background-color: #262626;

	display: flex;
	justify-content: center;
	align-items: center;

	-webkit-box-shadow: inset 0px 0px 30px 12px rgba(100, 100, 100, 0.5);
	-moz-box-shadow: inset 0px 0px 30px 12px rgba(100, 100, 100, 0.5);
	box-shadow: inset 0px 0px 30px 12px rgba(100, 100, 100, 0.5);

	z-index: 4;
}

.left_joystick_octagon_wrapper {

	/*width:200px;
	height:200px;*/
	width: 65%;
	height: 65%;

	float: left;
	position: relative;
	overflow: hidden;

	transform: rotate(22.5deg);

	z-index: 5;
}

.left_joystick_octagon {

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	overflow: hidden;
	transform: rotate(45deg);
	/*background: #777;*/
	border: 0.5em solid rgba(0, 0, 0, 0.75);

	-webkit-box-shadow: inset 0px 0px 25px 12px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 25px 12px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 25px 12px rgba(0,0,0,0.75);

	display: flex;
	justify-content: center;
	align-items: center;

	z-index: 6;
}

.left_joystick_octagon:before {

	/* There needs to be a negative value here to cancel
	 * out the width of the border. It's currently -3px,
	 * but if the border were 5px, then it'd be -5px.
	 */
	position: absolute;	
	top: -0.5em;
	right: -0.5em;
	bottom: -0.5em;
	left: -0.5em;

	transform: rotate(45deg);
	content: '';
	border: inherit;

	-webkit-box-shadow: inset 0px 0px 25px 12px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 25px 12px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 25px 12px rgba(0,0,0,0.75);

	z-index: 6;
}

/*.left_joystick_inner_inner_container {

	width: 75%;
	height: 75%;

	border: 1px solid orange;
	position: relative;

	border-radius: 50%;
	background-color: transparent;

	-webkit-box-shadow: inset 0px 0px 44px 12px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 44px 12px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 44px 12px rgba(0,0,0,0.75);
}*/

.left_joystick {

	width: 75%;
	height: 75%;

	border-radius: 50%;
	background-color: lightgray;

	z-index: 7;

	border: 6px solid #b3b3b3;

	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*.left_joystick:before {

	content: "";
	width: 75%;
	height: 75%;
	position: absolute;
	left: 12.4%;
	top: 12.4%;

	border-radius: 50%;
	background-color: transparent;
	border: 4px solid #b3b3b3;

	z-index: 7;
}

.left_joystick:after {

	content: "";
	width: 50%;
	height: 50%;
	position: absolute;
	left: 24.9%;
	top: 24.9%;

	border-radius: 50%;
	background-color: transparent;
	border: 4px solid #b3b3b3;

	z-index: 7;
}

.left_joystick_inner_circle {

	width: 25%;
	height: 25%;

	border-radius: 50%;
	background-color: transparent;
	border: 4px solid black;
}*/

.left_joystick_inner_circle {

	width: 75%;
	height: 75%;

	border-radius: 50%;
	background-color: transparent;
	border: 6px solid #b3b3b3;

	z-index: 7;

	display: flex;
	justify-content: center;
	align-items: center;
}

.left_joystick_inner_inner_circle {
	
	width: 70%;
	height: 70%;

	border-radius: 50%;
	background-color: transparent;
	border: 6px solid #b3b3b3;

	z-index: 7;

	display: flex;
	justify-content: center;
	align-items: center;
}

.left_joystick_inner_inner_circle div {
	
	width: 50%;
	height: 50%;

	border-radius: 50%;
	background-color: transparent;
	border: 10px solid #b3b3b3;

	z-index: 7;
}
/*****************************************/
/***** End of left joystick section ******/
/*****************************************/



/*****************************************/
/***** Start of left arrows section ******/
/*****************************************/
.left_arrows_container {

	width: 22em;
	height: 22em;

	position: absolute;
	left: 40%;
	bottom: -5%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #262626;
	border-radius: 50%;

	z-index: 3;
}

.left_arrows_inner_container {

	width: 75%;
	height: 75%;

	background-color: #262626;
	border-radius: 50%;

	z-index: 4;

	-webkit-box-shadow: inset 0px 0px 35px 35px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 35px 35px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 35px 35px rgba(0,0,0,0.75);

	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	flex-direction: column;
}

.arrow_controls_container {

	width: 55%;
	height: 55%;
	display: flex;
	flex-direction: column;
}

.top_arrow_container,
.bottom_arrow_container {

	width: 100%;
	height: 100%;

	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: transparent;
}

.top_arrow {

	width: 34%;
	height: 100%;

	background-color: lightgray;
	z-index: 5;
}

.bottom_arrow {

	width: 34%;
	height: 100%;

	background-color: lightgray;
	z-index: 5;
}

.left_and_right_arrows_container {

	width: 100%;
	height: 100%;

	position: relative;
	display: flex;

	background-color: transparent;
}

.left_arrow,
.right_arrow {

	width: 100%;
    height: 100%;

    background-color: lightgray;
    z-index: 5;
}
/*****************************************/
/***** End of left arrows section ********/
/*****************************************/











